// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Raleway', sans-serif;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.container{
	max-width: 980px;
	margin:0 auto;
}
.social-contact{
	display:flex;
	align-items:center;
	justify-content:flex-end;
	height:120px;

}

.social-contact h4{
	font-size: 21px;
	color: #4d4d4d;
	margin-right:50px;
}
.icon{
	width: 45px;
	height:45px;
	margin:10px;
	
}
header{
	display:flex;
	align-items:center;
}
header h1{
	font-size:48px;
}
header span{
	font-size:21px;
}
.logo{
	width:90px;
	height:122px;
	margin-right:50px;
	margin-bottom:90px;
}

nav{
	flex-grow:2;
	display:flex;
	justify-content:flex-end;
	font-size: 16px;
}

nav a{
	text-decoration:none;
	margin:10px;
	color:#4d4d4d;
}

nav a:hover {
	color:black;
}

.intro h1{
	font-size:36px;
	padding-bottom:20px;

}

.intro p{
	font-size:18px;
	width:400px;
	line-height:1.4;
}

.intro{
	padding-left:200px;
	margin-top:100px;
	margin-bottom:300px;
	
}

.skills{
	display:grid;
	width:100%;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

.skills div{
	height:153px;
	text-align:center;
}

.skills div:hover{
	background-color:#c1272d;
	color:white;
	cursor:pointer;
}
.red{
	background-color:#c1272d;
}

.htmll, .css, .git, .type, .branding, .less{

	color:white;
	font-size:48px;
	background-color:black;
	display:flex;
	align-items:center;
	justify-content:center;
}

.illustrator, .photoshop {
	font-size:21px;
	background-color:black;
	color:white;
	display:flex;
	align-items:center;
	justify-content:center;

}

.ui, .ux{
	font-size:48px;
	display:flex;
	align-items:center;
	justify-content:center;

}
.empty{
	grid-row-start:    1;
	grid-row-end:      2;
	grid-column-start: 2;
	grid-column-end:   4;
	color:white;

}
.empty02{
	grid-row-start:    2;
	grid-row-end:      3;
	grid-column-start: 3;
	grid-column-end:   4;
	color:white;

}
.empty03{
	grid-row-start:    4;
	grid-row-end:      5;
	grid-column-start: 1;
	grid-column-end:   2;
	color:white;

}
.empty04{
	grid-row-start:    5;
	grid-row-end:      6;
	grid-column-start: 1;
	grid-column-end:   2;
	color:white;

}
.branding{
	grid-row-start:    2;
	grid-row-end:      3;
	grid-column-start: 4;
	grid-column-end:   6;

}

.responsive{
	grid-row-start:    3;
	grid-row-end:      4;
	grid-column-start: 2;
	grid-column-end:   6;
	font-size:48px;
	display:flex;
	align-items:center;
	justify-content:center;



}

.visual{
	grid-row-start:    4;
	grid-row-end:      5;
	grid-column-start: 2;
	grid-column-end:   4;
	font-size:21px;
	display:flex;
	align-items:center;
	justify-content:flex-start;



}

.type{

	grid-row-start:    4;
	grid-row-end:      5;
	grid-column-start: 4;
	grid-column-end:   6;

}

.wire{
	grid-row-start:    5;
	grid-row-end:      6;
	grid-column-start: 2;
	grid-column-end:   4;
	font-size:21px;
	display:flex;
	align-items:center;
	justify-content:flex-start;


}

.experience{
	margin:200px 0;
	display:flex;
	justify-content:space-between;
}

.years div{
	height:152px;
	width:270px;
	color:white;
	font-size:48px;
	background-color:black;
	text-align:center;
	display:flex;
	align-items:center;
	justify-content:center;


}

.years div:hover{
	background-color:#c1272d;
	color:white;
	cursor:pointer;
}

.years div.active{
	background-color:#c1272d;
	color:white;

}

.content{
	padding-top:30px;
}
.content h1{
	font-size:48px;
	padding-bottom:40px;

}
.content ul{
	margin-left:50px; 
}
.content ul li{
	margin:20px 0;
}

.location{
	display:flex;
	justify-content:flex-end;
	align-items:flex-end;
	color:#4d4d4d;
	margin-right:40px;
}

.education{
	margin:100px 0;
}
.schools{
	padding:0 100px;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

.schools div{
	width:40%;
	margin:80px 0;
	padding-left:20px;
}

.top{
	padding:100px 0;
}

.school ,  .campus{
	margin:10px 10px 10px 0;
	display:inline-block;
}

.school{
	color:#4d4d4d;
}
.education h1{
	font-size:48px;
}

.education h2{
	font-size:36px;
}
.schools div{
	border-left:6pt solid black;
}